.wrapper {
  display: flex;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 39px),
    50% 100%,
    0 calc(100% - 39px)
  );
  transition: 2s;
  transition-timing-function: ease-in;
}

.text {
  margin: 10px;
}

.drImg {
  width: 250px;
  height: 100%;
}
